/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Fix to use angular-ui-bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Efects of changing pages */
.slide.ng-enter {
    -webkit-transition: 0.3s ease all; /* Safari/Chrome */
    transition: 0.3s ease all; /* All other modern browsers and IE10+ */

    /* The animation preparation code */
    opacity: 0;
}

.slide.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}


/* Documentation various */
/* TODO: Replace with less variables and stuff */
.done {
    background-color: #dff0d8;
}

.not-done {
    background-color: #f2dede;
}

.almost-done {
    background-color: #fcf8e3;
}

.question {
    display: block;
    font-style: normal;
    font-weight: bold;
}
.question, .answer {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
    background-color: #faf8f0;
    border-color: #faebcc;
}






/* Concept map */
concept-map {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

concept-map svg {

}

concept-map .map {
    text-align: center;
    border: 1px solid #357ebd;
    border-radius:25px;
    width: 75%;
    height: 80%;
    flex: 10;
    margin-left: 10px;
}

concept-map .buttons {
    flex: 1;
    height: 80%;
    text-align: right;
    margin-right: 10px;
}
